asgiref
black
certifi
charset-normalizer
click
click-default-group-wheel
coverage
coveralls
Django
docopt
flake8
idna
mccabe
mypy-extensions
packaging
pathspec
platformdirs
pycodestyle
pyflakes
python-dateutil
requests
six
sqlite-fts4
sqlite-utils
sqlparse
tabulate
tomli
urllib3
